
# Documentacion Tecnica y/o relacionados & no relevantes para el repositorio.
/Documentacion tecnica/Tecnologias a usar.md
/Documentacion tecnica/lista de cambios.txt
/Documentacion tecnica/Proceso de diseño de software.md
